<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AmazingStuff</title>
</head>
<body style="background-color: lightgrey">
<div style="text-align: center; font-size: 30px; margin-top: 20px">Congratulations!</div>
<div style="margin-top: 50px; text-align: center">
    <img src="../static/image.gif">
</div>
<div style="text-align: center">
    <p style="font-family: 'Geneva'; font-size: 20px">Don`t forget to leave feedback</p>
    <a style="font-family: Geneva; font-size: 40px; color: blue; text-decoration: none"
       href="http://bit.ly/cicdworkshopfeedback">http://bit.ly/cicdworkshopfeedback</a>
</div>

</body>
</html>
